body{ margin-top: 5em; }
        .table {
        margin-top: 100px;
        margin-bottom: 100px;
        }

body{
  background-color:plum;
}

.conteneur-titre{
  border: 2px solid blue;
  width: 100%;
  background-color: aquamarine;;
}

.base{
  width: 100%;
}
button{
  background-color:cornflowerblue;
}
.conteneur-flex{
  display: flex;
  flex-flow: wrap;
  align-items:center;
  justify-content: space-around;
  align-content: space-around;
  width: 100%;
  box-sizing: border-box;
  background-color: plum;
}

.colonne{
  flex-direction: column;
  background-color:plum;
}

.ligne{
  flex-direction: row;
  background-color: aquamarine;
  border: 2px solid blue;
}

#current{
  color: yellow
}

.element-flex{
  flex: 1 1 50px;
  width: 40%;
  height: 40%;
  box-sizing: border-box;
  margin: 10px;
  
}

h1{
    font-size: 50px;
    color: blue;
    text-align: center;
  }
h2{
  color:darkblue;
  text-align: center;
}
h3{
  color:darkblue;
}
p{
  color:darkred;
}
footer{
  width: 100%;
  background-color: aquamarine;
  color: white;
}