

body{
  background-color: #20c896 ;
}

.conteneur-titre{
  border: 2px solid #20c896;
  width: 100%;
  background-color: #20c896;
}

.base{
  width: 100%;
}
button{
  background-color:cornflowerblue;
}
.conteneur-flex{
  display: flex;
  flex-flow: wrap;
  align-items:center;
  justify-content: space-around;
  align-content: space-around;
  width: 100%;
  box-sizing: border-box;
  background-color: #17a2b8;
}

.colonne{
  flex-direction: column;
  background-color:#20c896;
}

.ligne{
  flex-direction: row;
  background-color: #20c397;
  border: 2px solid #20c397;
}

#current{
  color: yellow
}

.element-flex{
  flex: 1 1 50px;
  width: 40%;
  height: 40%;
  box-sizing: border-box;
  margin: 10px;
  
}

h1{
    font-size: 50px;
    color: blue;
    text-align: center;
  }
h2{
  color:darkblue;
  text-align: center;
}
h3{
  color:darkblue;
}
p{
  color:darkred;
}
footer{
  width: 100%;
  background-color: #20c697;
  color: white;
}